/* SECTION */

.background{
    background-color: rgb(231, 231, 231);
}

.container-section{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.container-section h1{
    text-align: center;
}

.container-section h2{
    text-align: center;
}

.video-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SPECIFICATIONS */
.flex-item-specifications{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    /* flex-grow: 1; */
}

.flex-item-specifications>div{
    margin-left: 16px;
    margin-right: 16px;
}