/* FOOTER */

.flex-item-footer{
    margin-left: 5%;
}

footer{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer h3{
    color: white;
    margin-top: 0px;
}

.flex-item-social img{
        width: 20px;
}

.flex-item-facebook{
    margin-top: 16px;
    margin-bottom: 16px;
}

.copyright p{
    color: white;
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

.payment-methods img{
    padding-left: 10px;
    padding-right: 10px;
    width: 75px;
    margin: 16px
}

@media screen and (min-width: 720px){
    .flex-item-footer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    footer{
        background: #00F260;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .flex-item-social{
        display: flex;
        flex-direction: column;
    }
    
    .flex-item-social img{
        width: 20px;
    }
    
    .flex-item-facebook{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    footer h3{
        color: white;
        padding: 10px;
    }
    
    .copyright p{
        color: white;
        margin-top: 16px;
        margin-bottom: 0;
        text-align: center;
    }
    
    footer a{
        color: white;
        text-decoration: none;
    }
    
    .payment-methods{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .payment-methods img{
        padding-left: 10px;
        padding-right: 10px;
        width: 75px;
        margin-top: 16px
    }
}
