/* HEADER NAV BAR */

.box1-header a{
    font-family: 'MuseoModerno', cursive;
    font-size: 12px;
}

.box3-header a{
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;
}

.container-header p{
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;
}

/* SECTION */

section h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 45px;
}

section h2{
    font-family: 'MuseoModerno', cursive;
    font-size: 30px;
}

section h3{
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;
}

section p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 15px;
    line-height: 2;
}

section p>span{
    font-weight: bold;
    font-style: oblique;
}

/* FOOTER */

footer h3{
    font-family: 'MuseoModerno', cursive;
}

footer p{
    font-family: 'Noto Sans HK', sans-serif;
}

footer a{
    font-family: 'Noto Sans HK', sans-serif;
}

/* CONTACT US FONTS */

.container-forms label{
    font-family: 'MuseoModerno', cursive;
}

.container-forms ::placeholder{
    font-family: 'Noto Sans HK', sans-serif;
}


.flex-item-submit input{
    font-family: 'MuseoModerno', cursive;
}