/* SECTION */

.background{
    background-color: rgb(231, 231, 231);
    padding-bottom: 70px;
}

.container-section{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.container-section h1{
    text-align: center;
}

.container-section h2{
    text-align: center;
}

.video-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SPECIFICATIONS */
.flex-item-specifications{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
}

.flex-item-specifications>div{
    margin-left: 16px;
    margin-right: 16px;
    width: 230px;
    height: 269px;
}

.flex-items-specifications2{
    display: flex;
    justify-content: center;
}

.flex-items-specifications2:nth-child(1){
    margin: 10px;
}

.flex-items-specifications2 p{
    margin-right: 50px;
}

.flex-items-specifications2 div img{
    width: 300px;
    margin-bottom: 16px;
}